@font-face {
    font-family: 'OKGUNG';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/OKGUNG/OKGUNG.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/OKGUNG/OKGUNG.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/OKGUNG/OKGUNG.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/OKGUNG/OKGUNG.ttf') format('truetype');
}
